
<section class="home">
  <div class="home">
    <h1>Fetch signup data</h1>
    <table *ngIf="signupData.length > 0">
      <thead>
        <tr>
          <th>userid</th>
          <th>username</th>
          <th>password</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pair of signupData">
          <td>{{ pair.userid }}</td>
          <td>{{ pair.username }}</td>
          <td>{{ pair.password }}</td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="signupData.length === 0">No data available.</p>
  </div>
</section>
